// Place all the styles related to the Objectives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orgchart-container{
  background: #fff;
}

.weeks .week {
  background: #fff;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
  text-align: center;
  width: 50px;
}

#weekly-progress-table td, #weekly-progress-table th {
  text-align: center;
}
